*.pdf -text -diff binary
*.png -text -diff binary
*.jpg -text -diff binary
*.jpeg -text -diff binary
*.gif -text -diff binary
*.ico -text -diff binary
*.mp4 -text -diff binary
*.zip -text -diff binary
*.ex4 -text -diff binary
*.ex5 -text -diff binary
*.ttf -text -diff binary
*.otf -text -diff binary
*.woff -text -diff binary
*.woff2 -text -diff binary
